* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #808080; /* gray */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin: 2rem;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 3.75rem);
    grid-template-rows: repeat(3, 3.75rem);
    gap: 1rem;
    margin: 3rem auto;
}

.case {
    border: 2px solid #000000; /* black */
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

p:first-of-type {
    color: #000000; /* black */
}

#score1,
#score2 {
    font-weight: bold;
}

h1 {
    color: #000000; /* black */
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

u {
    font-weight: bold;
    color: #000000; /* black */
}
