*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(129, 158, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin: 2rem;
}

#grid
{
    display: grid;
    grid-template-columns: repeat(3, 3.75rem);
    grid-template-rows: repeat(3, 3.75rem);
    gap: 1rem;
    margin: 3rem auto;
}

.case
{
    border: 1px solid rgb(41, 32, 32);
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

p:first-of-type
{
    color:rgb(56, 73, 104) ;
}

#score1
{
    font-weight: bold;
}

#score2
{
    font-weight: bold;
}

h1
{ 
    color: rgb(86, 19, 19);
    font-family: 'Helvetica Neue', sans-serif;
    /* font-size: 275px; */
    font-weight: bold;
    letter-spacing: -1px; line-height: 1;
    text-align: center;

}

u
{
    font-weight: bold;
}